<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>King of the Hill</title>
</head>
<body>
    <h1></h1>
    <canvas tabindex='1' id="level" width="1366" height="645"></canvas>
    <script src="index.js" type="module" defer></script>
    <script>
        let socket_port = <%=data.server_data.socket_port%>
    </script>
</body>
</html>